//fonts
$default-font: "Corbel", sans-serif;
$bold-font: "CorbelBold", sans-serif;
$proxima-font: "ProximaNova", sans-serif;

//colors
$white: #fff;
$black: #000;
$accent: #f68f0d;
$text: #fff;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
